* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

body{
    background-color: #5d5b5c27;
}

header h1 {
    margin-bottom: 24px;
    font-size: 48px;
    font-weight: bolder;
}

header, form, footer {
    text-align: center;
}

header img {
    height: 200px;
    padding: 22px;
}

button {
    background-color: rgba(230, 243, 255, 0.582);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 4px 48px;
    border-bottom: 2px solid black;
    margin-bottom: 24px;
    cursor: pointer;
}

#btnReset {
    padding: 4px 16px;
    background-color: antiquewhite;
    margin-left: 8px;
}

#btnReset:hover {
    background-color: rgb(251, 222, 185);
}

button:hover {
    background-color: aliceblue;
}

#formDragMenu {
    border-bottom: 2px solid black;
}

#formSignUp {
    display: none;
    margin-bottom: 50px;
}

form h3 {
    padding: 16px;
    font-size: 24px;
}

.formField {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.formField input {
    padding: 3px 22px;
}

.formField label {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: 500;
    padding-right: 10px;
}

.containerButton {
    display: inline-block;
    width: 370px;
    text-align: right;
    margin-top: 16px;
}

footer {
    background-color: rgba(0, 0, 0, 0.171);
    color: #fff;
    padding: 8px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer, footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer img {
    height: 32px;
}

.error {
    color: rgb(159, 6, 6);
    font-size: 14px;
}